*,
body,
html    {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Epilogue', sans-serif; */
    background: white;
    font-family: 'DM Sans', sans-serif;
}


.container {
    width: 100%;
}

.topnav {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 108rem;
    position: absolute;
    left: 19rem;
    height: 69px;
    
}

.pfp img {
    width: 35px;
}

.topnav a {
    text-decoration: none;
    color: rgb(34, 34, 34);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.cart-pfp {
    display: flex;
    align-items: center;
}

.main-container {
    display:grid;
    grid-template-columns: 500px 500px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    gap: 1rem 120px;
    position: absolute;
    top: 22rem;
    left: 50rem;
    grid-row-gap: 5rem;
}

.carousel {
    display: flex;
    gap: 10px;
}

.box1 img {
    width: 33rem;
    border-radius: 3rem;
}

.box2 {
    padding-right: 55px;
}

.box3 {
    width: fit-content;
}

.img-1 {
    width: 8rem;
    border-radius: 1.3rem;
}

.img-2 {
    width: 8rem;
    border-radius: 1.3rem;
}

.img-3 {
    width: 8rem;
    border-radius: 1.3rem;
}

.img-4 {
    width: 8rem;
    border-radius: 1.3rem;
}

.sneaker-company {
    padding-top: 80px;
    color: rgb(235, 152, 0);
}

.limitedsneakers  {
    width: 20rem;
    padding-top: 22px;
}

.price-dis {
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.price {
    padding-right: 15px;
}

.percentage {
    background: rgb(243, 202, 127);
    color: rgba(211, 138, 2, 0.911);
    border-radius: 8px;
    padding: 4px;
}