*,
body,
html    {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Epilogue', sans-serif; */
    background: white;
    font-family: 'DM Sans', sans-serif;
}


.container {
    width: 100%;
    height: 93vh;
    display: grid;
    justify-items: center;
    align-items: center;
}

.log-reg {
    box-sizing: content-box;
    float: right;
    display: flex;  
    align-items: center;
}

.register img {
    width: 35px;
}

.topnav {
    height: 60px;
    padding: 10px;
    padding-top: 20px;
    width: 100vw;
    /* position: relative; */
    /* left: 40rem; */
}

.topnav a {
    cursor: pointer;
    float: left;
    color: black;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.2s ease;
}

.topnav a:hover {
    color: black;
    border-radius: 20px;
}


.main-container {
    display:grid;
    grid-template-columns: 500px 500px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    gap: 2rem 220px;
    /* position: absolute; */
}

.carousel {
    display: flex;
    gap: 10px;
}

.box1 img {
    width: 33rem;
    border-radius: 3rem;
}

.box2 {
    padding-right: 55px;
}

.box3 {
    width: fit-content;
}

.img-1 {
    width: 8rem;
    border-radius: 1.3rem;
}

.img-2 {
    width: 8rem;
    border-radius: 1.3rem;
}

.img-3 {
    width: 8rem;
    border-radius: 1.3rem;
}

.img-4 {
    width: 8rem;
    border-radius: 1.3rem;
}

.sneaker-company {
    padding-top: 80px;
    color: rgb(235, 152, 0);
}

.limitedsneakers  {
    width: 20rem;
    padding-top: 22px;
}

.sneaker-company {
    padding-top: 25px;
    font-size: 17px;
    text-transform: uppercase;
}

.price h1 {
    font-size: 2.2em;
}

.price-dis {
    display: grid;
    align-items: center;
    padding-top: 50px;
    grid-template-columns: auto auto auto;
}

.price {
    padding-right: 20px;
    font-size: 2.5em;
}

.percentage {
    background: rgb(243, 202, 127);
    color: rgba(211, 138, 2, 0.911);
    border-radius: 8px;
    padding: 4px;
    font-size: 1rem;
    width: fit-content;
}

.wrapper-dec-inc {
    display: flex;  
    align-items: center;
    font-size: 28px;
    gap: 50px;
    background: lightgray;
    border-radius: 8px;
    width: fit-content;
    padding: 7px;
}

.wrapper-dec-inc span {
    /* width: 100%; */
    text-align: center;
    font-size: 25px;
    background: lightgray;
}

.minus {
    display: flex;
    cursor: pointer;
    padding: .5rem;
}

.plus {
    display: flex;
    cursor: pointer;
    padding: .5rem;
}

.discount-strike {
    color: rgb(192, 190, 190);
    padding-top: 15px;
    padding-bottom: 1rem;
}

.quantity {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    /* background: rgb(211, 211, 211); */
    width: fit-content;
    gap: 35px;
    padding-top: 10rem;
    border-radius: 8px;
}

.btn-minus {
    border: none;
    padding-left: 10px;
    /* background: rgb(211, 211, 211); */
}

.btn-add {
    border: none;
    /* background: rgb(211, 211, 211); */
}

.add-cart {
    width: 13rem;
    padding-top: 20px;
}

.increment-btn {
    border: none;
}
.btn-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.add-cart button {
    background: rgb(219, 145, 7);
    width: -webkit-fill-available;
    padding: 12px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 20px;
}

.profile {
    display: none;
    background: lightgrey;
}

.profile a:hover ul li {
    display: block;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

/* Media queries */
@media screen and (max-width: 2000px) {
    .hamburger {
        display: none;
    }
    
}   


@media screen and (max-width: 600px) {

    .container {
        height: 92vh;
    }

    .hamburger {
      display: block;  
      width: fit-content;
    
    }

    
    .myLinks {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .log-reg {
        padding-left: 20px;
    }
    .topnav {
        left: 0px;
        width: 100vw;
        display: flex;
        align-items: center;
    }

    .active {
        display: block;   
    }

    .nav-container {
        display: none;
    }


    .main-container {
        display: grid;
        grid-template-columns: auto;
    }

    .box1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box1 img {
        width: 11rem;
        border-radius: 0px;
    }

    .box2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 0px;
        /* padding-left: 82px; */
    }   

    .box3 {
        display: none;
    }


    .discount-strike {
        padding-bottom: 1rem;
        font-size: 15px;
        display: flex;
        justify-content: space-evenly;
        padding-left: 30px;
    }

    .price-dis {
        width: 80vw;
        font-size: 9px;
        padding: 10px;
    }

    .price {
        padding-right: 0px;
        width: fit-content;
    }

    .limitedsneakers {
        padding-left: 20px;
    }

    .quantity {
        /* display: flex; */
        /* flex-direction: column; */
        align-items: center;
        align-content: center;
        padding-top: 0px;
        padding-left: 5px;
    }
    .navbar2 {
        display: none;
    }

    .sneaker-company {
        padding-left: 20px;
    }

    .sneaker-info {
        width: 24em;
        padding: 20px;
    }

    .sidenav {
        height: 100%;
        width: 65%;
        position: fixed;
        z-index: 10;
        top: 0;
        /* left: 0; */
        background: white;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }
    
    #overlay {
        position: fixed; 
        display: none; 
        width: 100%; 
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2; 
        cursor: pointer; 
      }

  }


  @media screen and (min-width: 2000px) {
      .hamburger {
        display: none;
      }
      .topnav {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        padding-left: 30rem;
        padding-top: 70px;
      }

      .topnav {
        width: 80vw;
    }


      @media only screen and (min-width: 600px) {
        .hamburger {
            display: none;
        }

        .closebtn {
            display: none;
        }
      }
  }