    *,
    body,
    html    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* font-family: 'Epilogue', sans-serif; */
        background: white;
        font-family: 'DM Sans', sans-serif;
    }

    .topnav {
        display: flex;
        overflow: hidden;
        padding-top: 25px;
        justify-content: center;
      }

      .border-bottom {
        border-bottom: 1px solid black;
      }

      .topnav a {
        /* float: left; */
        color: rgb(34, 34, 34);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      .cart-pfp {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        /* float: right; */
      }


      .main-container {
        overflow: hidden;
        font-size: 16px;
        width: fit-content;
        position: relative;
        top: 12rem;
        left: 38rem;
      }

      .main-container img {
        width: 34rem;
        border-radius: 22px;
      }

      .product-content {
        width: max-content;
        position: relative;
        left: 72rem;
        top: -16rem;
        padding-left: 8rem;
      }

      .product-content h3 {
        font-size: 16px;
        color: rgb(255, 153, 0);
        padding-bottom: 19px;
        text-transform: uppercase;
      }
      .product-title {
        font-size: 40px;
        width: 22rem;
      }
      .product-title h1 {
        font-size: 47px;
        width: 22rem;
      }

      .product-info  {
        width: 27rem;
        padding-top: 2rem;
      }

      .price {
        padding-top: 2rem;
        padding-bottom: 0.5rem;
        font-size: 32px;
      }

      .discount-strike {
        color: rgb(185, 185, 185);
        font-size: 19px;
      }

      .discount-strike:before {
          position: absolute;
          content: "";
          width: 72px;
          left: 129px;
          top: 81.5%;
          right: 0;
          border-top: 2px solid;
          border-color: rgb(185, 185, 185);
          -webkit-transform: rotate(-25deg);
          -moz-transform: rotate(-25deg);
          -ms-transform: rotate(-25deg);
          -o-transform: rotate(-25deg);
          transform: rotate(0deg);
          
      }

      .price-dis {
        display: flex;
        align-items: baseline;
        align-content: center;
        flex-direction: row;
        gap: 14px;
      }

      .percentage  {
        background: rgb(255, 218, 150);
        color: rgb(231, 139, 1);
        border-radius: 8px;
        width: 47px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .carousel {
        display: flex;
        flex-direction: row;
      }
      .first-image  {
        width: 7rem;
        position: absolute;
        top: 53rem;
        left: 38rem;
        border-radius: 20px;
      }

      .second-image  {
        width: 7rem;
        position: absolute;
        left: 47rem; 
        top: 53rem;
        border-radius: 20px;
      }

      .third-image {
        width: 7rem;
        position: absolute;
        left: 56rem; 
        top: 53rem;
        border-radius: 20px;
      }

      .fourth-image {
        position: absolute;
        width: 7rem;
        border-radius: 20px;
        top: 53rem;
        left: 65rem;
      }

      .quantity {
        /* padding-top: 12px; */
        border-radius: 11px;
        position: relative;
        padding: 10px;
        top: 81px;
        width: max-content;
        display: flex;
        align-items: center;
        /* justify-content: center; */
        align-content: center;
        flex-direction: row;
        gap: 42px;
        background: lightgray;
      }

      .quantity button {
        border: none;
        color: rgb(231, 139, 1);
        background: lightgray;
      }

      .add-cart {
        position: relative;
        display: flex;
        left: 199px;
        top: 23px;
      }

      .cart-btn {
        width: 282px;
        border: none;
        position: relative;
        height: 63px;
        left: 78rem;
        top: -16.3rem;
        border-radius: 10px;
        background: rgb(231, 139, 1);
      }

      .add-carth2  {
        background: rgb(231, 139, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 11px;
        color: white;
      }


      /* media queries  */


      @media screen and (min-width: 600px) {
        .hamburger {
          display: none;
        }
      }


      @media screen and (min-width: 2000px) {
          .hamburger {
            display: none;
          }
      }


      @media only screen and (max-width: 599px) {
      .topnav {
          width: fit-content;
          display: flex;
          align-items: center;
          align-content: center;
        }
        .hamburger {
          padding-left: 6px;
          display: flex;
          padding-top: 6px;
          align-items: center;
          justify-content: center;
          align-items: center;
        }

        .cart-pfp {
          width: 67vh;
        }

        .navbar-items {
          display: flex;
          display: none;
        }
        
        .container {
          width: 100%;
        }

        .hamburger {
          padding-left: 10px;
        }

        .main-container {
          display: none;
        }

        .product-content {
          display: none;
        }

        .carousel-img {
          display: none
        }
      }