    *    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Epilogue', sans-serif;
        background: white;
    }

    .topnav {
        display: flex;
        overflow: hidden;
        padding-top: 25px;
        justify-content: center;
      }

      .border-bottom {
        border-bottom: 1px solid black;
      }

      .topnav a {
        /* float: left; */
        color: rgb(34, 34, 34);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      .cart-pfp {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        /* float: right; */
      }


      .main-container {
        width: fit-content;
        position: relative;
        top: 12rem;
        left: 38rem;
      }

      .main-container img {
        width: 30rem;
        border-radius: 22px;
      }

      .product-content {
        position: relative;
        left: 72rem;
        top: -15rem;
      }

      .product-content h3 {
        color: rgb(255, 153, 0);
        
      }